**/target/
**/node_modules/
**/dist/
**/.idea/
**/.vscode/
*.iml
*.log
sprintflow-notification-service/src/main/resources/application-local.properties
sprintflow-notification-service/.env.local
SprintFlow-complete.zip
